body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    height: 150px;
    background-color: #fffefe;
    text-align: center;
    position: relative;
}

header img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    background-color: #fffefe;
    color: #1d1d1d;
    text-align: center;
    font-size: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: -3px 0 0 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 110px;
}

nav a {
    text-decoration: none;
    color: #424242;
    font-weight: bold;
}

nav a:hover {
    color: #ddcbab;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 10px;
}

.menu-item img {
    max-width: 100%;
    max-height: 100%;
}

.menu-item p {
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
    color: #4d4c4c;
    border-bottom: 2px solid #111111;
}

.image-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
}

.image-gallery img {
    width: 15%;
    height: auto;
    border: 4px solid #ffffff;
    margin-bottom: 10px;
    margin-right: 5%;
}

.image-gallery img:last-child {
    margin-right: 0;
}

#contact {
    text-align: center;
    margin-top: 20px; /* Sesuaikan margin atas sesuai kebutuhan */
}

#contact p {
    font-size: 18px; /* Sesuaikan ukuran font sesuai kebutuhan */
    font-weight: bold;
    color: #000000; /* Warna teks */
}

footer {
    background-color: #FF0000; /* Warna merah untuk latar belakang */
    color: #000000; /* Warna hitam untuk teks */
    text-align: center;
    padding: 10px; /* Sesuaikan dengan kebutuhan margin atau padding yang diinginkan */
}
